div(class="divider")
section.trabajos#trabajos.section
    .container.center-align
        h4.titulo-borde Trabajos
        h3.titulos-2 My Trabajos
        p.texto Conoce algunos de mis proyectos mas importantes
    .container-fluid
        .conten-menu-gallery
            .category-list
                a(href="#" id="categoria-item" data-category="all") Todo 
                a(href="#" id="categoria-item" data-category="Corporativo") Corporativo
                a(href="#" id="categoria-item" data-category="Diseño") Diseño
                a(href="#" id="categoria-item" data-category="Web") Web   

        .content-imagen
            -for(var i = 1; i <= 3; i++ ) 
                a(href=`imagenes/gallery/diseno-${i}.jpg` class="fancybo" data-fancybox="gallery" data-caption="Caption #1")
                    img(src=`imagenes/gallery/diseno-${i}.jpg`, alt="")
            -for(var i = 1; i <= 3; i++ ) 
                a(href=`imagenes/gallery/branding-${i}.jpg` class="fancybo" data-fancybox="gallery" data-caption="Caption #1")
                    img(src=`imagenes/gallery/branding-${i}.jpg`, alt="")
                
            -for(var i = 1; i <= 3; i++ ) 
                a(href=`imagenes/gallery/web-${i}.jpg` class="fancybo" data-fancybox="gallery" data-caption="Caption #1")
                    img(src=`imagenes/gallery/web-${i}.jpg`, alt="")
        
            -for(var i = 1; i <= 3; i++ ) 
                a(href=`imagenes/gallery/corporativo-${i}.jpg` class="fancybo" data-fancybox="gallery" data-caption="Caption #1")
                    img(src=`imagenes/gallery/corporativo-${i}.jpg`, alt="")